In [3]:
import pandas as pd
import numpy as np
import collections

データの読み込み

In [4]:
dfr = pd.read_csv("./train.csv")

In [5]:
dfr_test = pd.read_csv("./test.csv")

In [4]:
dfr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 9 columns):
Dates         878049 non-null object
Category      878049 non-null object
Descript      878049 non-null object
DayOfWeek     878049 non-null object
PdDistrict    878049 non-null object
Resolution    878049 non-null object
Address       878049 non-null object
X             878049 non-null float64
Y             878049 non-null float64
dtypes: float64(2), object(7)
memory usage: 60.3+ MB

In [5]:
dfr_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884262 entries, 0 to 884261
Data columns (total 7 columns):
Id            884262 non-null int64
Dates         884262 non-null object
DayOfWeek     884262 non-null object
PdDistrict    884262 non-null object
Address       884262 non-null object
X             884262 non-null float64
Y             884262 non-null float64
dtypes: float64(2), int64(1), object(4)
memory usage: 47.2+ MB

In [7]:
dfr.astype(str).describe()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
count,878049,878049,878049,878049,878049,878049,878049,878049,878049
unique,389257,39,879,7,10,17,23228,28957,30461
top,2011-01-01 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Friday,SOUTHERN,NONE,800 Block of BRYANT ST,-122.403404791,37.7754207067
freq,185,174900,60022,133734,157182,526790,26533,26354,26354

前準備

In [6]:
week_list = list(collections.Counter(dfr["DayOfWeek"]).keys())
week_list = dict(map(lambda x :(x,week_list.index(x)),week_list))
week_list

{'Friday': 0,
 'Monday': 5,
 'Saturday': 2,
 'Sunday': 4,
 'Thursday': 1,
 'Tuesday': 6,
 'Wednesday': 3}

In [21]:
a = list(collections.Counter(dfr["DayOfWeek"]).keys())
a

['Thursday', 'Wednesday', 'Tuesday', 'Sunday', 'Saturday', 'Friday', 'Monday']

In [26]:
dict(map(lambda x :(x,a.index(x)),a))

{'Friday': 5,
 'Monday': 6,
 'Saturday': 4,
 'Sunday': 3,
 'Thursday': 0,
 'Tuesday': 2,
 'Wednesday': 1}

In [20]:
a = (1,2,3)
a[1] = 9

TypeError: 'tuple' object does not support item assignment

In [9]:
a = {"a":1,"b":2}
a["a"]

1

In [7]:
dist_list = list(collections.Counter(dfr["PdDistrict"]).keys())
dist_list = dict(map(lambda x :(x,dist_list.index(x)),dist_list))
dist_list

{'BAYVIEW': 3,
 'CENTRAL': 9,
 'INGLESIDE': 6,
 'MISSION': 0,
 'NORTHERN': 4,
 'PARK': 5,
 'RICHMOND': 1,
 'SOUTHERN': 7,
 'TARAVAL': 8,
 'TENDERLOIN': 2}

In [8]:
address_list1 = list(collections.Counter(dfr["Address"]).keys())
address_list2 = list(collections.Counter(dfr_test["Address"]).keys())
address_list = address_list1+address_list2
address_list = list(collections.Counter(address_list))
address_list = dict(map(lambda x :(x,address_list.index(x)),address_list))
address_list

{'700 Block of 7TH AV': 0,
 'LOMAVISTA TR / MASONIC AV': 1,
 'MYRA WY / DALEWOOD WY': 2,
 '3600 Block of LYON ST': 3,
 'PENNSYLVANIA AV / CESAR CHAVEZ ST': 4,
 'SANCHEZ ST / 20TH ST': 5,
 '600 Block of 38TH AV': 6,
 '100 Block of FOLSOM ST': 19513,
 'SUNSET BL / JUDAH ST': 7,
 'GRANT AV / PINE ST': 8,
 '1000 Block of PIERCE ST': 9,
 '1400 Block of 41ST AV': 10,
 '0 Block of CHARLES J BRENHAM PLORTH ST': 11,
 '1600 Block of DIVISADERO ST': 12,
 '5TH ST / TEHAMA ST': 13,
 '600 Block of EXCELSIOR AV': 9104,
 '10TH ST / NATOMA ST': 15,
 'SAN CARLOS ST / 18TH ST': 16,
 'GENEVA AV / MOSCOW ST': 17,
 'HOWARD ST / BEALE ST': 18,
 '100 Block of CORAL CT': 19,
 '0 Block of PATTON ST': 20,
 '8TH AV / MORAGA ST': 131,
 'SLOAT BL / 44TH AV': 24770,
 '1500 Block of GREAT HY': 22,
 'SENECA AV / ALEMANY BL': 23,
 'BUSH ST / SANSOME ST': 24,
 'AVENUE OF THE PALMS / CALIFORNIA ST': 25,
 '15TH ST / NOE ST': 167,
 'HIGUERA AV / ARBALLO DR': 27,
 'LAGUNA ST / GALILEE LN': 28,
 'BUCHANAN ST / OAK ST': 29,
 'LAGUNA ST / FULTON ST': 30,
 'BUCHANAN ST / CALIFORNIA ST': 12320,
 '1200 Block of 40TH AV': 32,
 '800 Block of CHENERY ST': 33,
 'GRANDVIEW AV / 21ST ST': 35,
 '300 Block of MONTEREY BL': 36,
 '20TH ST / POTRERO AV': 37,
 '28TH AV / CALIFORNIA ST': 38,
 'MINNA ST / 1ST ST': 4105,
 'NOE ST / 14TH ST': 40,
 'MARKET ST / THE EMBARCADERO NORTH ST': 41,
 '900 Block of OFARRELL ST': 42,
 'BUCHANAN ST / SACRAMENTO ST': 43,
 '600 Block of JOOST AV': 44,
 'CAPITOL AV / SAGAMORE ST': 45,
 'JONES ST / ELLIS ST': 46,
 'RUSSIA AV / NAPLES ST': 47,
 'DOLORES ST / CUMBERLAND ST': 48,
 'BOWMAN CT / KEITH ST': 49,
 '1400 Block of SILVER AV': 50,
 'ANDOVER ST / ELLERT ST': 51,
 'MASON ST / BROADWAY ST': 52,
 'HOLYOKE ST / BURROWS ST': 53,
 '0 Block of ANKENY ST': 54,
 'TENNESSEE ST / TUBBS ST': 17741,
 'WILLIAMS AV / PHELPS ST': 56,
 '200 Block of JEFFERSON ST': 57,
 '700 Block of 3RD AV': 58,
 '0 Block of RUSSIA AV': 59,
 'CABRILLO ST / 23RD AV': 60,
 '100 Block of COMMERCIAL ST': 61,
 'FOERSTER ST / FLOOD AV': 62,
 'SAINT FRANCIS BL / SANTACLARA AV': 63,
 'UPPER GREAT HY / LINCOLN WY': 64,
 '0 Block of LA AVANZADA ST': 65,
 'SAN JOSE AV / SGTJOHNVYOUNG LN': 67,
 '1600 Block of GREEN ST': 68,
 '1300 Block of 19TH ST': 69,
 '3RD ST / SOUTH PARK AV': 70,
 '100 Block of JUDSON AV': 71,
 '400 Block of SUSSEX ST': 72,
 '2400 Block of 15TH AV': 73,
 'JUNIPERO SERRA BL / SLOAT BL': 74,
 '0 Block of FISHER AL': 75,
 '2500 Block of FULTON ST': 76,
 'WASHINGTON ST / DIVISADERO ST': 77,
 'FELTON ST / CAMBRIDGE ST': 78,
 'POPE ST / BALTIMORE WY': 456,
 '1000 Block of HARRISON ST': 80,
 '1100 Block of GREEN ST': 82,
 '0 Block of CORAL RD': 83,
 '1800 Block of 17TH ST': 84,
 '2500 Block of CLAY ST': 85,
 '17TH ST / RHODEISLAND ST': 86,
 '300 Block of SANTA ROSA AV': 87,
 '2000 Block of MONTEREY BL': 88,
 '0 Block of DELGADO PL': 89,
 'PIXLEY ST / WEBSTER ST': 90,
 '1200 Block of 43RD AV': 91,
 '1600 Block of VANNESS AV': 92,
 '0 Block of JACKSON ST': 93,
 '0 Block of AUSTIN ST': 94,
 '24TH AV / OCEAN AV': 95,
 '400 Block of LAKEVIEW AV': 4113,
 'MASONIC AV / HAYES ST': 97,
 '1500 Block of ARMSTRONG AV': 98,
 '0 Block of COLUMBUS AV': 99,
 '600 Block of CROSSOVER DR': 100,
 '700 Block of YORK ST': 101,
 'OCEAN AV / HOWTH ST': 102,
 'RIVERA ST / 25TH AV': 103,
 '1400 Block of 37TH AV': 104,
 'QUESADA AV / QUINT ST': 105,
 'DIVISADERO ST / VALLEJO ST': 106,
 'BOSWORTH ST / ELK ST': 107,
 '1300 Block of 10TH AV': 108,
 'FAXON AV / ELMWOOD WY': 109,
 '38TH AV / ORTEGA ST': 20491,
 'CUMBERLAND ST / DOLORES ST': 111,
 '500 Block of FREDERICK ST': 112,
 '100 Block of NEWMAN ST': 113,
 '900 Block of WASHINGTON ST': 114,
 '400 Block of EDDY ST': 115,
 '2100 Block of BRODERICK ST': 116,
 'BEACH ST / STOCKTON ST': 117,
 'MONTECITO AV / MONTEREY BL': 118,
 '0 Block of LUNADO WY': 119,
 'LARCH ST / FRANKLIN ST': 120,
 'ELLIS ST / POWELL ST': 121,
 '2000 Block of 43RD AV': 122,
 '0 Block of CADELL PL': 123,
 '27TH ST / CHURCH ST': 124,
 'GRANT AV / SACRAMENTO ST': 125,
 'ORTEGA ST / 39TH AV': 126,
 'FOLSOM ST / DORE ST': 795,
 'LUCERNE ST / BRANNAN ST': 3994,
 'SAN JOSE AV / 25TH ST': 129,
 '2100 Block of CABRILLO ST': 130,
 'WILLIAMS AV / MENDELL ST': 21,
 '16TH AV / FULTON ST': 132,
 'MONTGOMERY ST / CLAY ST': 133,
 '2600 Block of 22ND ST': 134,
 'COSO AV / WINFIELD ST': 135,
 '1400 Block of BRYANT ST': 136,
 'GROVE ST / WEBSTER ST': 137,
 '2900 Block of LAKE ST': 138,
 'LINCOLN WY / 6TH AV': 139,
 '700 Block of ARGUELLO BL': 140,
 '400 Block of WALLER ST': 141,
 '4100 Block of 17TH ST': 4121,
 '33RD AV / FULTON ST': 143,
 'FAXON AV / THRIFT ST': 144,
 '32ND AV / GEARY BL': 145,
 'MARKET ST / SOUTH VAN NESS AV': 146,
 '0 Block of ANNIE ST': 147,
 '3500 Block of MISSION ST': 148,
 'ELIZABETH ST / NOE ST': 149,
 '1100 Block of BATTERY ST': 150,
 '4600 Block of 17TH ST': 151,
 'SILVER AV / CONGDON ST': 152,
 '200 Block of SANTAYNEZ AV': 153,
 'KEZAR DR / STANYAN ST': 154,
 'DUBOCE AV / DIVISADERO ST': 155,
 '13TH ST / MISSION ST': 156,
 'HAYES ST / CLAYTON ST': 157,
 '400 Block of KIRKWOOD AV': 158,
 'SILVER AV / GAMBIER ST': 159,
 '100 Block of HELENA ST': 160,
 '200 Block of HOLLYPARK CR': 161,
 'CAMPBELL AV / HOLYOKE ST': 18192,
 'GRAND VIEW AV / 24TH ST': 162,
 '600 Block of PARNASSUS AV': 163,
 'CABRILLO ST / 45TH AV': 164,
 'GOUGH ST / PINE ST': 8274,
 '0 Block of SEAL ROCK DR': 166,
 '200 Block of COLUMBUS AV': 26,
 '0 Block of QUARTZ WY': 168,
 'TOMPKINS AV / ANDOVER ST': 169,
 'KISSLING ST / 12TH ST': 170,
 'FAIROAKS ST / 26TH ST': 171,
 'OCEAN AV / VICTORIA ST': 2618,
 '400 Block of 22ND ST': 172,
 '0 Block of VALPARAISO ST': 173,
 'STEINER ST / JACKSON ST': 174,
 'ULLOA ST / 42ND AV': 16385,
 '26TH AV / RIVERA ST': 176,
 'MIDDLE POINT RD / EVANS AV': 177,
 'DETROIT ST / STAPLES AV': 178,
 '800 Block of CHINABASIN ST': 179,
 '1500 Block of FULTON ST': 180,
 '100 Block of MONETA WY': 181,
 '10TH AV / IRVING ST': 182,
 '100 Block of NEW MONTGOMERY ST': 183,
 '9TH AV / MARTIN LUTHER KING JR DR': 184,
 '200 Block of URBANO DR': 185,
 '0 Block of SAN GABRIEL AV': 186,
 '900 Block of BOSWORTH ST': 187,
 'CORTLAND AV / FOLSOM ST': 188,
 '200 Block of FARALLONES ST': 189,
 '46TH AV / SLOAT BL': 190,
 'TRUETT PL / MASON ST': 191,
 '500 Block of POTRERO AV': 192,
 '25TH ST / HOFFMAN AV': 193,
 'KIRKWOOD AV / 3RD ST': 194,
 '0 Block of DANIEL BURNHAM CT': 1127,
 '48TH AV / NORIEGA ST': 196,
 '2600 Block of 44TH AV': 197,
 'CHURCH ST / DUBOCE AV': 198,
 '700 Block of NORIEGA ST': 199,
 '2600 Block of LINCOLN WY': 200,
 'SOMERSET ST / SILVER AV': 201,
 '3800 Block of IRVING ST': 202,
 'HAWES ST / INGERSON AV': 203,
 'ULLOA ST / 14TH AV': 204,
 '0 Block of SYDNEY WY': 205,
 '100 Block of VIRGINIA AV': 206,
 'LAKE MERCED BL / CLEARFIELD DR': 207,
 '2100 Block of 25TH ST': 208,
 '900 Block of MOSCOW ST': 16389,
 '4300 Block of 17TH ST': 210,
 'FRANKLIN ST / CLAY ST': 211,
 'BALBOA ST / GREAT HY': 212,
 'GRANT AV / BROADWAY ST': 213,
 '22ND ST / WORTH ST': 1246,
 '1500 Block of TENNESSEE ST': 215,
 '7TH ST / KING ST': 12342,
 'NEW MONTGOMERY ST / JESSIE ST': 218,
 'MCALLISTER ST / LEAVENWORTH ST': 219,
 '400 Block of TARAVAL ST': 220,
 '0 Block of CLAIRVIEW CT': 221,
 'CRESTMONT DR / DEVONSHIRE WY': 222,
 'HAMERTON AV / BOSWORTH ST': 223,
 '800 Block of GARFIELD ST': 224,
 '1400 Block of PHELPS ST': 225,
 '400 Block of CRESCENT AV': 226,
 '2000 Block of BROADWAY ST': 227,
 '0 Block of JOSEPHA AV': 229,
 '1700 Block of LAWTON ST': 231,
 'GREENWICH ST / COLUMBUS AV': 232,
 '30TH AV / FULTON ST': 233,
 'GRANDVIEW AV / GRANDVIEW TR': 234,
 '900 Block of LOMBARD ST': 235,
 '300 Block of GONZALEZ DR': 236,
 'FITCH ST / QUESADA AV': 237,
 '23RD ST / ALABAMA ST': 238,
 '100 Block of GROVE ST': 239,
 'GARCES DR / VIDAL DR': 240,
 '2600 Block of MORAGA ST': 241,
 '200 Block of CHATTANOOGA ST': 242,
 '1800 Block of 44TH AV': 4133,
 'TEHAMA ST / 9TH ST': 245,
 '200 Block of ONONDAGA AV': 246,
 'SCOTT ST / TURK ST': 247,
 '1700 Block of HARRISON ST': 248,
 'KEARNY ST / LOMBARD ST': 10306,
 'GREENWOOD AV / HAZELWOOD AV': 249,
 'ROSSI AV / ANZA ST': 251,
 '1900 Block of FILLMORE ST': 252,
 '1000 Block of SADDLEBACK DR': 1463,
 'VAN NESS AV / TURK ST': 254,
 'TARAVAL ST / 29TH AV': 255,
 'GREAT HWY / NORIEGA ST': 256,
 '700 Block of ROLPH ST': 257,
 'ROSE ST / OCTAVIA ST': 258,
 '400 Block of WHEELER AV': 259,
 '200 Block of ROLPH ST': 260,
 '200 Block of HANOVER ST': 261,
 '300 Block of JOHNMUIR DR': 262,
 'CASTRO ST / BEMIS ST': 263,
 '200 Block of LOWELL ST': 264,
 'DIGBY ST / ADDISON ST': 265,
 '400 Block of CARL ST': 1560,
 '200 Block of PEABODY ST': 267,
 '500 Block of LOS PALMOS DR': 268,
 '500 Block of UPLAND DR': 269,
 '1500 Block of 48TH AV': 270,
 '2300 Block of 16TH AV': 271,
 '1600 Block of LEAVENWORTH ST': 23579,
 'STOCKTON ST / MAIDEN LN': 272,
 'DIAMOND ST / KERN ST': 273,
 'BURROWS ST / GAMBIER ST': 274,
 'ELK ST / BOSWORTH ST': 275,
 '500 Block of GRAND VIEW AV': 12354,
 '300 Block of KENWOOD WY': 277,
 '24TH AV / ULLOA ST': 278,
 '36TH AV / SLOAT BL': 279,
 'BOSWORTH ST / DIAMOND ST': 1641,
 '2000 Block of TAYLOR ST': 281,
 '20TH AV / OCEAN AV': 282,
 'PACIFIC AV / BRODERICK ST': 283,
 'PERALTA AV / MAYFLOWER ST': 284,
 '1600 Block of 28TH AV': 285,
 'ACTON ST / SICKLES AV': 286,
 '200 Block of SPEAR ST': 287,
 '300 Block of BOWLINGGREEN DR': 288,
 '1600 Block of BROADWAY ST': 1708,
 '3RD ST / CHINABASIN ST': 290,
 '3700 Block of 26TH ST': 291,
 '600 Block of TWIN PEAKS BL': 292,
 'MOULTRIE ST / CORTLAND AV': 22035,
 '41ST AV / SLOAT BL': 293,
 'STOCKTON ST / PACIFIC AV': 294,
 '2600 Block of MASON ST': 16400,
 'KING ST / 7TH ST': 297,
 '700 Block of 6TH ST': 298,
 '200 Block of PIERCE ST': 299,
 '1000 Block of QUINTARA ST': 1757,
 '7TH AV / HUGO ST': 1760,
 '900 Block of TREAT AV': 302,
 'CAMBRIDGE ST / JOHNFSHELLEY DR': 303,
 'SACRAMENTO ST / SPRING ST': 304,
 'CAMBRIDGE ST / FELTON ST': 1395,
 'CHARLES J BRENHAM PLORTH ST / MARKET ST': 306,
 'PRINCETON ST / SILLIMAN ST': 307,
 'CERVANTES BL / BAY ST': 308,
 'JUANBAUTISTA CR / CRESPI DR': 309,
 '100 Block of CURTIS ST': 310,
 '4300 Block of KIRKHAM ST': 311,
 '24TH ST / SAN BRUNO AV': 312,
 '900 Block of 3RD ST': 313,
 '1500 Block of ORTEGA ST': 16203,
 '0 Block of LIPPARD AV': 314,
 '1200 Block of LOMBARD ST': 315,
 'HYDE ST / CHESTNUT ST': 316,
 '600 Block of 37TH AV': 20523,
 '600 Block of SUTTER ST': 318,
 'NEPTUNE ST / THORNTON AV': 319,
 '900 Block of EDDY ST': 8302,
 '100 Block of MT VERNON AV': 322,
 'EGBERT AV / HAWES ST': 323,
 '400 Block of BRYANT ST': 324,
 'LAGUNAHONDA BL / CLARENDON AV': 325,
 '14TH ST / WOODWARD ST': 326,
 'EUGENIA AV / MOULTRIE ST': 328,
 'SAN JOSE AV / SAGAMORE ST': 329,
 'FRONT ST / VALLEJO ST': 330,
 'WAWONA ST / 47TH AV': 331,
 '600 Block of HOLLOWAY AV': 332,
 'LEAVENWORTH ST / CHESTNUT ST': 333,
 'LEIDESDORFF ST / COMMERCIAL ST': 334,
 'WHITNEY YOUNG CR / PROGRESS ST': 335,
 'LARKIN ST / LOMBARD ST': 336,
 'TAYLOR ST / ALADDIN TR': 24402,
 'HARRISON ST / MAIN ST': 337,
 '200 Block of 5TH AV': 338,
 'SCOTT ST / DUBOCE AV': 339,
 'VALLEJO ST / BUCHANAN ST': 340,
 '24TH ST / VALENCIA ST': 341,
 '3000 Block of 21ST AV': 8306,
 '1300 Block of YORK ST': 343,
 '600 Block of FUNSTON AV': 12361,
 '100 Block of 10TH AV': 345,
 '4700 Block of 25TH ST': 346,
 '100 Block of DAGGETT ST': 348,
 'FRANCISCO ST / LAGUNA ST': 349,
 '100 Block of MONTEREY BL': 24348,
 '1600 Block of GUERRERO ST': 350,
 '900 Block of FRONT ST': 16409,
 '1500 Block of FLORIDA ST': 352,
 '1200 Block of 37TH AV': 353,
 '100 Block of PERRY ST': 354,
 'CAPP ST / 22ND ST': 355,
 'CLEMENT ST / 2ND AV': 356,
 'ZENO PL / FOLSOM ST': 357,
 '100 Block of ALPHA ST': 358,
 '0 Block of BURROWS ST': 359,
 '19TH ST / ILLINOIS ST': 360,
 '0 Block of SONOMA ST': 361,
 'RHODEISLAND ST / DIVISION ST': 362,
 '2500 Block of 26TH ST': 363,
 'CYPRESS ST / 26TH ST': 364,
 '100 Block of DETROIT ST': 365,
 '2800 Block of ORTEGA ST': 366,
 'PERRY ST / 4TH ST': 367,
 'VALLEJO ST / OCTAVIA ST': 368,
 '200 Block of SANANSELMO AV': 369,
 'GOETHE ST / SAN JOSE AV': 370,
 'BEATRICE LN / LILLIAN ST': 371,
 '2800 Block of 21ST ST': 372,
 'STAPLES AV / CIRCULAR AV': 373,
 '500 Block of HOLLYPARK CR': 374,
 '26TH AV / ANZA ST': 375,
 '0 Block of RUTLAND ST': 23671,
 'FRANKLIN ST / TURK ST': 376,
 'BRUCE AV / EDGAR PL': 377,
 'BATTERY ST / GREEN ST': 7388,
 'POTRERO AV / 15TH ST': 378,
 '3300 Block of DIVISADERO ST': 379,
 '200 Block of BRUSSELS ST': 380,
 '500 Block of UNIVERSITY ST': 381,
 'STOCKTON ST / CARD AL': 382,
 'KEITH ST / ARMSTRONG AV': 383,
 'NORTH POINT ST / DIVISADERO ST': 384,
 '2200 Block of VICENTE ST': 385,
 '4000 Block of 3RD ST': 386,
 '600 Block of MYRA WY': 8317,
 '100 Block of SANTA CLARA AV': 387,
 'CABRILLO ST / ARGUELLO BL': 388,
 '700 Block of GENEVA AV': 389,
 '400 Block of KEARNY ST': 390,
 'PORTOLA DR / LAGUNAHONDA BL': 2315,
 '2400 Block of 25TH ST': 2326,
 '0 Block of ALTA ST': 8319,
 'ULLOA ST / DORCHESTER WY': 394,
 'LOUISBURG ST / GENEVA AV': 395,
 'OCEAN AV / APTOS AV': 396,
 'KIRKHAM ST / GREAT HWY': 397,
 'DORMITORY RD / NORTHRIDGE RD': 398,
 'PINE ST / BUCHANAN ST': 399,
 'VALLEJO ST / BAKER ST': 400,
 'PORTOLA DR / SANTACLARA AV': 401,
 'MINT ST / MISSION ST': 402,
 'EDDY ST / POLK ST': 403,
 'ALLISON ST / MISSION ST': 404,
 'SILLIMAN ST / OXFORD ST': 405,
 '0 Block of EDDY ST': 406,
 '700 Block of MENDELL ST': 407,
 'SWEENY ST / SAN BRUNO AV': 408,
 '1800 Block of BAY SHORE BL': 409,
 '0 Block of SAGAMORE ST': 410,
 '26TH ST / VIRGIL ST': 411,
 '2200 Block of LOWER GREAT HY': 412,
 '2100 Block of JENNINGS ST': 413,
 '20TH ST / DOLORES ST': 414,
 '100 Block of TARAVAL ST': 415,
 '1000 Block of ALABAMA ST': 416,
 'DOUGLASS ST / CASELLI AV': 417,
 '300 Block of BRANNAN ST': 418,
 '1100 Block of HAMPSHIRE ST': 419,
 '1200 Block of CAPITOL AV': 420,
 '600 Block of EL CAMINO DEL MAR': 421,
 'GENEVA AV / ATHENS ST': 422,
 '400 Block of DELANO AV': 423,
 'PERU AV / BURROWS ST': 424,
 '0 Block of VICKSBURG ST': 425,
 '0 Block of BEACH ST': 426,
 'HURON AV / SICKLES AV': 427,
 'FRANKLIN ST / GREEN ST': 428,
 '300 Block of LAGUNAHONDA BL': 429,
 'INDUSTRIAL ST / BOUTWELL ST': 430,
 'CESAR CHAVEZ ST / POTRERO AV': 431,
 'EUCLID AV / COLLINS ST': 432,
 '1700 Block of GENEVA AV': 433,
 'JACK LONDON AL / BRANNAN ST': 434,
 'CABRILLO ST / 34TH AV': 435,
 '600 Block of SPRUCE ST': 436,
 'FAIRMOUNT ST / MIGUEL ST': 2617,
 '0 Block of AMAZON AV': 438,
 '4100 Block of CABRILLO ST': 12375,
 '500 Block of CHENERY ST': 440,
 '12TH AV / PACHECO ST': 441,
 'CARL ST / CLAYTON ST': 442,
 'PARIS ST / GENEVA AV': 2677,
 '200 Block of LAGUNAHONDA BL': 444,
 '200 Block of BLYTHDALE AV': 445,
 '0 Block of DELONG ST': 446,
 'CLAY ST / LEAVENWORTH ST': 447,
 '1500 Block of MASON ST': 448,
 '500 Block of CHURCH ST': 449,
 'ALEMANY BL / CONGDON ST': 450,
 'SAN BRUNO AV / WABASH TR': 451,
 'NORTHWOOD DR / MIRAMAR AV': 452,
 '11TH ST / NATOMA ST': 453,
 '900 Block of CAYUGA AV': 455,
 '2800 Block of MARKET ST': 79,
 '2100 Block of POWELL ST': 457,
 'EUGENIA AV / PROSPECT AV': 458,
 'MERRITT ST / DANVERS ST': 459,
 '1400 Block of NOE ST': 460,
 'BERRY ST / 6TH ST': 461,
 'FRANCISCO ST / LEAVENWORTH ST': 462,
 '1800 Block of MONTGOMERY ST': 463,
 '1700 Block of TENNESSEE ST': 24132,
 '1300 Block of VICENTE ST': 12035,
 '1400 Block of WALLACE AV': 464,
 '800 Block of PORTOLA DR': 465,
 'FILLMORE ST / GOLDEN GATE AV': 466,
 '22ND ST / FLORIDA ST': 467,
 '1600 Block of 18TH ST': 20554,
 '4000 Block of LINCOLN WY': 469,
 'RIVERA ST / 14TH AV': 470,
 '900 Block of WOOLSEY ST': 471,
 'HAWTHORNE ST / HOWARD ST': 472,
 '800 Block of TURK ST': 473,
 'PIERCE ST / FELL ST': 12383,
 'DONAHUE ST / KIRKWOOD AV': 475,
 '800 Block of BRUSSELS ST': 476,
 '2300 Block of LEAVENWORTH ST': 477,
 'BROADWAY ST / FILLMORE ST': 24463,
 'CORTLAND AV / ANDOVER ST': 16431,
 'BEACH ST / GRANT AV': 479,
 '0 Block of FAIRFIELD WY': 480,
 'FRANCISCO ST / COLUMBUS AV': 481,
 '0 Block of SAINT CHARLES AV': 482,
 '200 Block of HOWARD ST': 483,
 '17TH ST / CAPP ST': 20557,
 'CABRILLO ST / 47TH AV': 485,
 'POLK ST / AUSTIN ST': 486,
 '1700 Block of MCALLISTER ST': 487,
 'CHILTON AV / BOSWORTH ST': 488,
 '0 Block of ESSEX ST': 489,
 'KIRKHAM ST / 28TH AV': 490,
 '700 Block of MISSOURI ST': 4180,
 '600 Block of MARINA BL': 492,
 'NORIEGA ST / 27TH AV': 493,
 '2400 Block of MARIN ST': 494,
 '600 Block of KIRKWOOD AV': 20559,
 'GREEN ST / TAYLOR ST': 3529,
 '1600 Block of KIRKWOOD AV': 497,
 'ELLIS ST / MARKET ST': 498,
 '1200 Block of SUNNYDALE AV': 499,
 'VALLEJO ST / LARKIN ST': 501,
 '2100 Block of 39TH AV': 502,
 'SOUTH HILL BL / CHICAGO WY': 503,
 'MISSION ST / SENECA AV': 504,
 'MISSION ST / LEO ST': 505,
 'FUNSTON AV / LAWTON ST': 3102,
 '800 Block of 37TH AV': 507,
 'TREAT AV / 15TH ST': 508,
 'FRANCONIA ST / MULLEN AV': 3116,
 'COLTON ST / COLUSA PL': 510,
 '300 Block of HANOVER ST': 511,
 '700 Block of 17TH AV': 512,
 'SEACLIFF AV / 25TH AV': 513,
 '100 Block of CROSS ST': 514,
 '25TH ST / ALABAMA ST': 3152,
 '200 Block of CONNECTICUT ST': 16449,
 '16TH AV / QUINTARA ST': 517,
 '1600 Block of LOMBARD ST': 518,
 '200 Block of ALABAMA ST': 519,
 'SAN JUAN AV / MISSION ST': 520,
 '2700 Block of 19TH AV': 522,
 '300 Block of ELM ST': 523,
 '0 Block of GRANT AV': 524,
 '100 Block of MAGELLAN AV': 525,
 'NOE ST / JERSEY ST': 527,
 '1900 Block of FOLSOM ST': 3232,
 'GRANT AV / TILLMAN PL': 529,
 '500 Block of VIENNA ST': 530,
 '400 Block of BAY ST': 11549,
 'FOLSOM ST / THE EMBARCADEROSOUTH ST': 532,
 'ROLPH ST / MISSION ST': 533,
 '100 Block of BELGRAVE AV': 534,
 '2400 Block of ORTEGA ST': 535,
 'GUERRERO ST / 19TH ST': 536,
 '4300 Block of 3RD ST': 537,
 'SANTA CLARA AV / YERBA BUENA AV': 538,
 '100 Block of WAYLAND ST': 539,
 '400 Block of 7TH ST': 540,
 '600 Block of CLEMENTINA ST': 541,
 '1700 Block of BANCROFT AV': 542,
 '31ST AV / PACHECO ST': 543,
 '600 Block of 43RD AV': 544,
 '100 Block of PIOCHE ST': 545,
 '200 Block of NATOMA ST': 546,
 '0 Block of MT VERNON AV': 547,
 '12TH AV / MORAGA ST': 548,
 '1700 Block of JACKSON ST': 549,
 'BUENAVISTAEAST AV / HAIGHT ST': 550,
 '0 Block of CRESTA VISTA DR': 551,
 '700 Block of MOUNT VERNON AV': 552,
 '100 Block of GILBERT ST': 553,
 '1500 Block of 18TH ST': 554,
 '0 Block of TROY AL': 555,
 'CALIFORNIA ST / 6TH AV': 557,
 '500 Block of URBANO DR': 558,
 '200 Block of CABRILLO ST': 559,
 '6TH ST / OWENS ST': 560,
 'SANTA YSABEL AV / DELANO AV': 561,
 'JERROLD AV / BARNEVELD AV': 562,
 'IRVING ST / LA PLAYA ST': 563,
 '500 Block of EXCELSIOR AV': 564,
 '0 Block of JADE PL': 3459,
 'CONNECTICUT ST / MARIPOSA ST': 566,
 '100 Block of HENRY ST': 3468,
 '1100 Block of LOMBARD ST': 569,
 'CASHMERE ST / WHITNEY YOUNG CR': 570,
 'GOLDEN GATE AV / JONES ST': 3476,
 '3600 Block of UPPER GREAT HY': 572,
 'ELLIOT ST / RAYMOND AV': 573,
 'MASON ST / ELLIS ST': 574,
 'RANKIN ST / PALOU AV': 575,
 'GUERRERO ST / DUNCAN ST': 576,
 'SANTA MARINA ST / ELSIE ST': 577,
 'JONES ST / CALIFORNIA ST': 578,
 '500 Block of GATES ST': 579,
 '1600 Block of MARIPOSA ST': 580,
 '700 Block of 23RD ST': 581,
 '600 Block of MARKET ST': 582,
 '1800 Block of ELLIS ST': 583,
 '7TH AV / FULTON ST': 584,
 '0 Block of DRAKE ST': 585,
 'CENTRAL AV / HAYES ST': 13803,
 '2300 Block of POST ST': 22375,
 '700 Block of FREDERICK ST': 586,
 '14TH ST / FOLSOM ST': 3591,
 '1500 Block of ANZA ST': 589,
 '0 Block of BROADWAY ST': 590,
 'WASHINGTON ST / KEARNY ST': 591,
 'QUINT ST / OAKDALE AV': 592,
 '100 Block of HARTFORD ST': 593,
 '700 Block of HURON AV': 3635,
 '1800 Block of FOLSOM ST': 595,
 '200 Block of GAVEN ST': 596,
 'GILMAN AV / GIANTS DR': 597,
 'PETERS AV / FAIR AV': 598,
 'PENNSYLVANIA AV / 25TH ST': 599,
 '0 Block of HANOVER ST': 600,
 '19TH ST / EUREKA ST': 601,
 '3100 Block of SAN JOSE AV': 602,
 '3RD ST / ISLAISCREEK ST': 603,
 'CHENERY ST / CARRIE ST': 604,
 'ULLOA ST / 32ND AV': 605,
 '2300 Block of CECILIA AV': 606,
 '2800 Block of WEBSTER ST': 607,
 '500 Block of VANNESS AV': 608,
 '600 Block of DIVISADERO ST': 609,
 '1000 Block of JACKSON ST': 610,
 'CESAR CHAVEZ ST / KANSAS ST': 611,
 'SOUTH PARK AV / 2ND ST': 612,
 '200 Block of WALNUT ST': 613,

In [9]:
category_list = sorted(collections.Counter(dfr["Category"]).keys())
category_list

['ARSON',
 'ASSAULT',
 'BAD CHECKS',
 'BRIBERY',
 'BURGLARY',
 'DISORDERLY CONDUCT',
 'DRIVING UNDER THE INFLUENCE',
 'DRUG/NARCOTIC',
 'DRUNKENNESS',
 'EMBEZZLEMENT',
 'EXTORTION',
 'FAMILY OFFENSES',
 'FORGERY/COUNTERFEITING',
 'FRAUD',
 'GAMBLING',
 'KIDNAPPING',
 'LARCENY/THEFT',
 'LIQUOR LAWS',
 'LOITERING',
 'MISSING PERSON',
 'NON-CRIMINAL',
 'OTHER OFFENSES',
 'PORNOGRAPHY/OBSCENE MAT',
 'PROSTITUTION',
 'RECOVERED VEHICLE',
 'ROBBERY',
 'RUNAWAY',
 'SECONDARY CODES',
 'SEX OFFENSES FORCIBLE',
 'SEX OFFENSES NON FORCIBLE',
 'STOLEN PROPERTY',
 'SUICIDE',
 'SUSPICIOUS OCC',
 'TREA',
 'TRESPASS',
 'VANDALISM',
 'VEHICLE THEFT',
 'WARRANTS',
 'WEAPON LAWS']

In [10]:
dfr[:2]

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599

学習用のテーブルを用意する

In [11]:
train_data = pd.DataFrame(columns = ['Year','Month','Date','Period','DayOfWeek','PdDistrict','Address'])
train_data

Empty DataFrame
Columns: [Year, Month, Date, Period, DayOfWeek, PdDistrict, Address]
Index: []

In [8]:
(lambda x: x+1)(2)

3

In [12]:
train_data["Year"] = dfr["Dates"].apply(lambda x: x.split(" ")[0].split("-")[0])
train_data["Month"] = dfr["Dates"].apply(lambda x: x.split(" ")[0].split("-")[1])
train_data["Date"] = dfr["Dates"].apply(lambda x: x.split(" ")[0].split("-")[2])
train_data["Period"] = dfr["Dates"].apply(lambda x: int(x.split(" ")[1].split(":")[0])//3)
train_data["DayOfWeek"] = dfr["DayOfWeek"].apply(lambda x: week_list[x])
train_data["PdDistrict"] = dfr["PdDistrict"].apply(lambda x: dist_list[x])
train_data["Address"] = dfr["Address"].apply(lambda x: address_list[x])

In [13]:
train_data[:10]

   Year Month Date  Period  DayOfWeek  PdDistrict  Address
0  2015    05   13       7          3           4     8479
1  2015    05   13       7          3           4     8479
2  2015    05   13       7          3           4     5139
3  2015    05   13       7          3           4     8529
4  2015    05   13       7          3           5     3114
5  2015    05   13       7          3           6     6727
6  2015    05   13       7          3           6    23321
7  2015    05   13       7          3           3     8003
8  2015    05   13       7          3           1     3735
9  2015    05   13       7          3           9     2623

In [36]:
from sklearn.datasets import load_iris
iris = load_iris()
type(iris.data[0][0])

numpy.float64

In [14]:
train_data_y = []
for x in dfr["Category"]:
    train_data_y.append(category_list.index(x))

In [15]:
train_data_y[:5]

[37, 21, 21, 16, 16]

In [16]:
train_data = train_data.values

In [17]:
train_data

array([['2015', '05', '13', ..., 3, 4, 8479],
       ['2015', '05', '13', ..., 3, 4, 8479],
       ['2015', '05', '13', ..., 3, 4, 5139],
       ...,
       ['2003', '01', '06', ..., 5, 7, 11893],
       ['2003', '01', '06', ..., 5, 7, 9749],
       ['2003', '01', '06', ..., 5, 3, 15368]], dtype=object)

In [18]:
train_data_y

[37,
 21,
 21,
 16,
 16,
 16,
 36,
 36,
 16,
 16,
 16,
 21,
 35,
 16,
 20,
 20,
 25,
 1,
 21,
 20,
 16,
 25,
 37,
 20,
 16,
 20,
 16,
 16,
 16,
 21,
 16,
 20,
 35,
 16,
 35,
 16,
 16,
 16,
 38,
 35,
 20,
 16,
 16,
 21,
 21,
 21,
 36,
 16,
 20,
 4,
 25,
 1,
 16,
 16,
 32,
 16,
 16,
 16,
 16,
 36,
 36,
 8,
 32,
 20,
 16,
 16,
 37,
 37,
 21,
 16,
 16,
 16,
 16,
 36,
 16,
 37,
 37,
 20,
 16,
 21,
 20,
 20,
 38,
 21,
 21,
 16,
 16,
 4,
 16,
 16,
 16,
 20,
 16,
 16,
 16,
 16,
 21,
 4,
 16,
 16,
 16,
 16,
 12,
 12,
 4,
 20,
 16,
 7,
 21,
 1,
 30,
 27,
 16,
 21,
 1,
 16,
 37,
 37,
 20,
 16,
 21,
 16,
 21,
 34,
 4,
 7,
 35,
 35,
 21,
 4,
 16,
 16,
 35,
 36,
 20,
 25,
 12,
 34,
 16,
 35,
 37,
 16,
 16,
 37,
 16,
 21,
 36,
 16,
 19,
 21,
 32,
 25,
 25,
 16,
 16,
 35,
 35,
 16,
 36,
 36,
 21,
 20,
 32,
 27,
 20,
 1,
 16,
 35,
 19,
 20,
 1,
 32,
 16,
 36,
 37,
 20,
 32,
 16,
 16,
 16,
 16,
 4,
 37,
 20,
 7,
 7,
 37,
 35,
 16,
 4,
 37,
 36,
 20,
 16,
 16,
 21,
 21,
 35,
 21,
 37,
 1,
 35,
 20,
 34,
 1,
 16,
 16,
 16,
 4,
 36,
 4,
 25,
 1,
 21,
 21,
 37,
 16,
 16,
 35,
 37,
 7,
 21,
 21,
 7,
 25,
 16,
 4,
 4,
 1,
 16,
 21,
 32,
 20,
 32,
 37,
 1,
 27,
 20,
 13,
 1,
 20,
 20,
 15,
 1,
 25,
 20,
 32,
 36,
 20,
 35,
 36,
 20,
 32,
 16,
 19,
 16,
 37,
 16,
 32,
 19,
 16,
 16,
 16,
 36,
 32,
 1,
 4,
 20,
 1,
 7,
 37,
 16,
 1,
 27,
 16,
 19,
 19,
 4,
 32,
 7,
 26,
 16,
 7,
 21,
 36,
 16,
 36,
 21,
 21,
 20,
 21,
 21,
 16,
 4,
 19,
 21,
 1,
 16,
 1,
 1,
 16,
 20,
 16,
 36,
 16,
 25,
 20,
 16,
 4,
 4,
 16,
 37,
 36,
 21,
 25,
 1,
 21,
 16,
 25,
 16,
 35,
 21,
 27,
 16,
 7,
 4,
 21,
 1,
 15,
 25,
 25,
 21,
 35,
 16,
 20,
 20,
 21,
 32,
 4,
 30,
 21,
 20,
 20,
 20,
 16,
 36,
 16,
 21,
 20,
 16,
 25,
 6,
 21,
 37,
 20,
 21,
 21,
 1,
 1,
 32,
 21,
 20,
 21,
 38,
 16,
 19,
 20,
 16,
 25,
 21,
 21,
 16,
 16,
 36,
 15,
 28,
 28,
 21,
 16,
 21,
 21,
 16,
 13,
 27,
 16,
 16,
 16,
 36,
 21,
 16,
 36,
 16,
 13,
 34,
 36,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 1,
 36,
 16,
 36,
 36,
 36,
 16,
 16,
 20,
 36,
 4,
 16,
 21,
 16,
 1,
 20,
 16,
 16,
 16,
 16,
 36,
 13,
 20,
 23,
 7,
 7,
 21,
 37,
 7,
 36,
 16,
 20,
 16,
 1,
 21,
 20,
 16,
 1,
 1,
 36,
 4,
 4,
 35,
 16,
 16,
 16,
 21,
 20,
 16,
 16,
 35,
 16,
 20,
 16,
 13,
 1,
 30,
 7,
 7,
 36,
 35,
 16,
 16,
 21,
 20,
 7,
 25,
 21,
 37,
 16,
 1,
 16,
 25,
 35,
 36,
 21,
 16,
 35,
 21,
 21,
 16,
 7,
 36,
 16,
 16,
 35,
 20,
 21,
 21,
 7,
 37,
 32,
 1,
 1,
 20,
 35,
 16,
 20,
 21,
 25,
 20,
 35,
 27,
 37,
 1,
 37,
 19,
 19,
 1,
 16,
 16,
 1,
 37,
 4,
 1,
 32,
 1,
 7,
 1,
 20,
 25,
 35,
 37,
 16,
 16,
 20,
 16,
 1,
 16,
 21,
 16,
 4,
 35,
 16,
 16,
 16,
 21,
 21,
 21,
 21,
 34,
 20,
 34,
 21,
 36,
 16,
 16,
 19,
 19,
 1,
 1,
 21,
 32,
 16,
 16,
 37,
 16,
 16,
 4,
 20,
 32,
 20,
 16,
 20,
 16,
 32,
 20,
 4,
 16,
 16,
 16,
 20,
 1,
 19,
 19,
 16,
 13,
 1,
 16,
 16,
 16,
 25,
 1,
 4,
 21,
 4,
 20,
 19,
 5,
 34,
 20,
 16,
 4,
 35,
 19,
 19,
 16,
 36,
 16,
 16,
 1,
 16,
 20,
 16,
 16,
 16,
 4,
 20,
 16,
 16,
 16,
 16,
 1,
 21,
 4,
 19,
 21,
 20,
 32,
 4,
 36,
 16,
 1,
 21,
 35,
 16,
 4,
 20,
 16,
 20,
 1,
 20,
 20,
 32,
 16,
 4,
 21,
 36,
 20,
 20,
 27,
 16,
 36,
 4,
 12,
 16,
 25,
 36,
 20,
 21,
 20,
 16,
 21,
 20,
 27,
 1,
 20,
 4,
 0,
 16,
 1,
 8,
 35,
 16,
 32,
 21,
 7,
 21,
 4,
 4,
 30,
 16,
 36,
 36,
 16,
 16,
 1,
 25,
 1,
 16,
 21,
 21,
 8,
 1,
 7,
 21,
 7,
 13,
 21,
 20,
 28,
 1,
 16,
 32,
 1,
 35,
 21,
 34,
 1,
 21,
 16,
 16,
 16,
 16,
 16,
 36,
 16,
 16,
 21,
 21,
 25,
 7,
 21,
 1,
 38,
 32,
 32,
 21,
 20,
 16,
 12,
 21,
 35,
 35,
 20,
 16,
 16,
 35,
 21,
 20,
 36,
 16,
 16,
 25,
 16,
 36,
 36,
 16,
 35,
 27,
 16,
 37,
 38,
 38,
 21,
 16,
 20,
 20,
 36,
 37,
 32,
 4,
 1,
 36,
 16,
 16,
 36,
 16,
 35,
 4,
 16,
 36,
 25,
 16,
 21,
 13,
 1,
 13,
 20,
 16,
 16,
 37,
 19,
 20,
 20,
 16,
 21,
 36,
 16,
 19,
 19,
 20,
 16,
 16,
 16,
 1,
 25,
 4,
 21,
 38,
 38,
 7,
 16,
 38,
 16,
 4,
 4,
 16,
 16,
 21,
 16,
 16,
 16,
 20,
 21,
 20,
 38,
 38,
 11,
 37,
 16,
 36,
 16,
 16,
 13,
 21,
 37,
 37,
 21,
 16,
 35,
 1,
 27,
 35,
 16,
 37,
 7,
 7,
 16,
 16,
 35,
 28,
 36,
 21,
 36,
 16,
 16,
 19,
 19,
 16,
 12,
 16,
 7,
 27,
 38,
 21,
 16,
 36,
 16,
 36,
 16,
 20,
 1,
 1,
 20,
 16,
 16,
 35,
 1,
 16,
 36,
 36,
 36,
 36,
 1,
 1,
 16,
 21,
 36,
 21,
 13,
 19,
 15,
 19,
 37,
 21,
 32,
 21,
 4,
 36,
 16,
 20,
 1,
 1,
 16,
 27,
 1,
 21,
 16,
 19,
 16,
 16,
 20,
 16,
 36,
 36,
 20,
 16,
 30,
 37,
 21,
 1,
 35,
 37,
 16,
 16,
 20,
 16,
 16,
 16,
 21,
 16,
 28,
 20,
 16,
 13,
 16,
 1,
 21,
 20,
 27,
 20,
 1,
 19,
 16,
 20,
 16,
 20,
 4,
 21,
 21,
 16,
 4,
 16,
 1,
 1,
 35,
 20,
 16,
 21,
 37,
 21,
 25,
 20,
 4,
 16,
 16,
 20,
 32,
 16,
 4,
 20,
 4,
 20,
 1,
 16,
 36,
 16,
 13,
 16,
 37,
 1,
 19,
 19,
 35,
 16,
 32,
 1,
 23,
 16,
 20,
 36,
 36,
 21,
 16,
 4,
 21,
 35,
 26,
 19,
 16,
 20,
 21,
 7,
 16,
 7,
 37,
 20,
 16,
 32,
 19,
 19,
 13,
 13,
 16,
 19,
 19,
 ...]

学習

In [19]:
from sklearn import tree

In [20]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(train_data, train_data_y)

In [21]:
from sklearn.externals.six import StringIO
import os

In [22]:
with open("result.dot", 'w') as f:
    f = tree.export_graphviz(clf, out_file=f)

In [23]:
predicted = clf.predict(train_data)
predicted

array([21, 21, 21, ..., 16, 35, 12])

In [24]:
sum(predicted == train_data_y) / len(train_data_y)

0.84184481731657346

In [25]:
dfr_test[:2]

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432

In [26]:
test_data = pd.DataFrame(columns = ['Year','Month','Date','Period','DayOfWeek','PdDistrict','Address'])
test_data["Year"] = dfr_test["Dates"].apply(lambda x: x.split(" ")[0].split("-")[0])
test_data["Month"] = dfr_test["Dates"].apply(lambda x: x.split(" ")[0].split("-")[1])
test_data["Date"] = dfr_test["Dates"].apply(lambda x: x.split(" ")[0].split("-")[2])
test_data["Period"] = dfr_test["Dates"].apply(lambda x: int(x.split(" ")[1].split(":")[0])//3)
test_data["DayOfWeek"] = dfr_test["DayOfWeek"].apply(lambda x: week_list[x])
test_data["PdDistrict"] = dfr_test["PdDistrict"].apply(lambda x: dist_list[x])
test_data["Address"] = dfr_test["Address"].apply(lambda x: address_list[x])

In [27]:
test_data[:3]

   Year Month Date  Period  DayOfWeek  PdDistrict  Address
0  2015    05   10       7          4           3    22196
1  2015    05   10       7          4           3     8930
2  2015    05   10       7          4           4    13714

In [28]:
predicted = clf.predict(test_data)
predicted

array([ 1, 20,  1, ..., 21,  5,  1])

In [ ]:
len(dfr_test)

884262

In [ ]:
test_result = pd.DataFrame(np.zeros((len(dfr_test),len(category_list))))
test_result.columns=category_list
for i, x in enumerate(predicted):
    test_result.ix[i,x] = 1

In [ ]:
test_result[category_list] = test_result[category_list].astype(int)

In [ ]:
test_result[:10]

In [ ]:
pd.concat([dfr_test["Id"],test_result],axis=1).to_csv("my_pred.csv",index=False)

In [ ]:
pd.read_csv("./my_pred.csv")